{% extends 'base.html' %}
{% load static %}

<body>
    {% block content %}
      
    

    <div id="all_elements" class="bg-light">
        

        <div id="box2">
          <h2 style="text-align: center;margin-top:50px"> What is NO FAP?</div> </h2>
            
            <br>
            <p style="margin-left: 3%; margin-right: 3%">
            The term NoFap (now a trademarked name and business) came from the word “fap,” which is internet lingo for the sound of jerking off. You know — fapfapfapfap.

            What started as a casual discussion is now a website and organization that promotes quitting not just masturbation, but also porn and other sexual behaviors.

Their target audience appears to be predominantly straight males, with smaller pockets of women and queer folks.

Proponents argue that adopting the NoFap lifestyle offers a range of benefits, from mental clarity to muscle growth.
</p>
<br>
<br>
<div class="image">
  <img src="{% static 'img3.jpg' %}" width="300" height="240" alt="this is an image">
</div>

<div style="margin-left: 3%; margin-right: 3%">
<br>
<h3>What are the potential benefits?</h3>

We’ll start with higher testosterone levels. This is what fueled the original Reddit discussion back in the day after a user shared a studyTrusted Source that found not ejaculating for 7 days increased testosterone levels by 45.7 percent.

This sparked others to go a week without masturbating, some of whom went on to share other benefits of “fapstinence.” These included mental and physical health benefits as well as full-on spiritual awakenings and epiphanies.
</div><br>
<div style="margin-left: 3%; margin-right: 3%">
<h4>Mental benefits</h4>

<h6>Members of the NoFap community have reported experiencing a number of mental benefits, including:</h6>

<ul>
<li>increased happiness</li>
<li>boosted confidence</li>
<li>increased motivation and willpower</li>
<li>lower levels of stress and anxiety</li>
<li>heightened spirituality</li>
<li>self-acceptance</li>
<li>improved attitude and appreciation toward the opposite sex</li>
</ul>
</div>

<div style="margin-left: 3%; margin-right: 3%">
<h4>Physical benefits</h4>
<h6>Some of the physical benefits shared by NoFappers are:</h6>

<ul>
<li>higher energy levels</li>
<li>muscle growth</li>
<li>better sleep</li>
<li>improved focus and concentration</li>
<li>better physical performance and stamina</li>
<li>improved or cured erectile dysfunction</li>
<li>improved sperm quality</li>
</ul>
<br>
<br>
<br>
Information courtesy: https://www.healthline.com/health/nofap-benefits/ 
<br>
<br>

</div>

        </div>

        
    </div>

    
    {% endblock %}
  </body>
  </html> 
    
    
  








