{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'videos.css' %}" type="text/css">
<div class="container-fluid" id="all-elements">

    <h2>
        Need help ?
    </h2>
    Following videos might help you with your issues.<br>
    Watch them, review them and support others

    {% for i in videos %}
    <h3 class="video-headings" style="padding-top: 2%;">
        {{i.name}}
    </h3>

    <iframe width="560" height="315" src="{{i.video_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>

    {% endfor %}
    

</div>


{% endblock %}